terraform {
  required_version = "~> 1.0"
  backend "s3" {
    bucket         = "sre-inf-prod-tfstate"
    region         = "us-east-2"
    role_arn       = "arn:aws:iam::601722232065:role/sre-inf_cross_account"
    key            = "pt-terraform/production/{{ jinja_var['client_code'] }}/vsphere-distributed-port-group/terraform.tfstate"
    encrypt        = true
    dynamodb_table = "TFState"
  }
  required_providers {
    vsphere = {
      source  = "hashicorp/vsphere"
      version = ">= 2.2.0"
    }
  }
}

provider "vsphere" {
  alias                = "mna"
  user                 = var.vsphere_user
  password             = var.vsphere_password
  vsphere_server       = "infbvct1.radiustoday.com"
  allow_unverified_ssl = true
}

provider "vsphere" {
  alias                = "nas6"
  user                 = var.vsphere_user
  password             = var.vsphere_password
  vsphere_server       = "a000in025.radiustoday.com"
  allow_unverified_ssl = true
}

provider "vsphere" {
  alias                = "atl2"
  user                 = var.vsphere_user
  password             = var.vsphere_password
  vsphere_server       = "a000in025d.radiustoday.com"
  allow_unverified_ssl = true
}