module "{{ jinja_var['primary_dc'] }}-{{ jinja_var['port_group_be'] }}" {
  source = "git::ssh://git@github.com/dicomgrid/pt-modules.git//vsphere/distributed-port-group?ref=master"

  providers = {
    vsphere = vsphere.{{ jinja_var['primary_dc'] }}
  }

  name            = "{{ jinja_var['port_group_be'] }}"
  datacenter      = "{{ jinja_var['primary_dc'] }}"
  vlan_id         = "{{ jinja_var['vlan_be'] }}"
}

module "{{ jinja_var['primary_dc'] }}-{{ jinja_var['port_group_fe'] }}" {
  source = "git::ssh://git@github.com/dicomgrid/pt-modules.git//vsphere/distributed-port-group?ref=master"

  providers = {
    vsphere = vsphere.{{ jinja_var['primary_dc'] }}
  }

  name            = "{{ jinja_var['port_group_fe'] }}"
  datacenter      = "{{ jinja_var['primary_dc'] }}"
  vlan_id         = "{{ jinja_var['vlan_fe'] }}"
}

{% if jinja_var['secondary_dc'] is defined %}
module "{{ jinja_var['secondary_dc'] }}-{{ jinja_var['port_group_be'] }}" {
  source = "git::ssh://git@github.com/dicomgrid/pt-modules.git//vsphere/distributed-port-group?ref=master"

  providers = {
    vsphere = vsphere.{{ jinja_var['secondary_dc'] }}
  }

  name            = "{{ jinja_var['port_group_be'] }}"
  datacenter      = "{{ jinja_var['secondary_dc'] }}"
  vlan_id         = {{ jinja_var['vlan_be'] }}
}

module "{{ jinja_var['secondary_dc'] }}-{{ jinja_var['port_group_fe'] }}" {
  source = "git::ssh://git@github.com/dicomgrid/pt-modules.git//vsphere/distributed-port-group?ref=master"

  providers = {
    vsphere = vsphere.{{ jinja_var['secondary_dc'] }}
  }

  name            = "{{ jinja_var['port_group_fe'] }}"
  datacenter      = "{{ jinja_var['secondary_dc'] }}"
  vlan_id         = {{ jinja_var['vlan_fe'] }}
}
{% endif %}