{%- for dc in jinja_var -%}
module "vm-tag-{{ dc }}" {
  source = "git::ssh://git@github.com/dicomgrid/pt-modules.git//vsphere/tag?ref=master"

  providers = {
    vsphere = vsphere.{{ dc }}
  }

  client_code = var.client_code
  datacenter  = "{{ dc }}"
}

{% endfor %}